@using System.Text.Json
@using Blazor.DownloadFileFast.Interfaces
@using CaptainCoder.TacticsEngine.Board
@using System.Diagnostics.CodeAnalysis
@using System.Text
@inject IJSRuntime JSRuntime
@inject IBlazorDownloadFileService BlazorDownloadFileService
@inject ToolManager ToolManager
<div class="editor-content">
    <div class="editor-menu">
        <h1>Board Editor</h1>
        <button @onclick="@(() => LoadBoard())">Load File</button>
        <InputFile @ref="@_inputFile" OnChange="@OnFileSelected" hidden />
        <button @onclick="@(() => SaveBoard())">Save File</button>
        <button @onclick="@(() => ToolManager.Tool = EraseTool.Shared)">Erase</button>
        <button @onclick="@(() => ToolManager.Tool = TileTool.Shared)">Add Tiles</button>
        <button @onclick="@(() => ToolManager.Tool = FigureTool.Shared)">Add Figure</button>
    </div>
    <div class="editor-content">
        <BoardRenderer Board="@_board" />
    </div>
</div>

@code
{
    [AllowNull]
    private Board _board = new();
    [AllowNull]
    private InputFile _inputFile;
    public async Task OnFileSelected(InputFileChangeEventArgs e)
    {
        const int MaxSize = 100 * 1024 * 1024; // 100 MB
        // TODO: This reads the entire string then parses it. probably a better way?
        string? reader = 
            await new StreamReader(e.File.OpenReadStream(MaxSize)).ReadToEndAsync();
        if (!BoardExtensions.TryFromJson(reader, out Board? result))
        {
            // TODO: Error handling
            Console.WriteLine("Error");
            return;
        }
        _board = result;
    }

    private async Task LoadBoard()
    {
        await JSRuntime.InvokeVoidAsync("HTMLElement.prototype.click.call", _inputFile.Element);
    }

    private async Task SaveBoard()
    {
        var bytes = Encoding.UTF8.GetBytes(_board.ToJson());
        await BlazorDownloadFileService.DownloadFileAsync("Board.json", bytes, "application/json");
    }

    protected override void OnInitialized()
    {
        
    }
}