@using System.Diagnostics.CodeAnalysis;
@inject ToolManager ToolManager;
<div class="board-container"
     style="--cell-size: @(CellSize)px; --board-width: @Width; --board-height: @Height;">
    <CascadingValue Value="@Board">
        <CascadingValue Value="@this">

            @foreach (Position position in Positions)
            {
                <TileRenderer Position="@position" />
            }
            <TileEditorOverlay />
            @foreach (Positioned<Figure> figure in Board.Figures)
            {
                <PositionedFigureRenderer Figure="@figure" />
            }

            <BoardDragGrid />
        </CascadingValue>
    </CascadingValue>
</div>

@code
{
    [Parameter]
    public double Zoom { get; set; } = 1;
    public int CellSize => (int)(25 * Zoom);
    [Parameter]
    public int Width { get; set; } = 20;
    [Parameter]
    public int Height { get; set; } = 20;
    [Parameter, EditorRequired, AllowNull]
    public BoardData Board { get; set; }
    private Position _mousePosition = new(0, 0);

    public IEnumerable<Position> Positions
    {
        get
        {
            for (int y = 0; y < Height; y++)
            {
                for (int x = 0; x < Width; x++)
                {
                    yield return new Position(x, y);
                }
            }
        }
    }

    public void Redraw() => StateHasChanged();
}