<div class="bounding-box @ColorClass" filled="@Filled" outlined="@Outlined" style="@PreviewStyle">
    <div class="bounding-box-text">@DimensionInfo</div>
    <div class="child-content">
        @ChildContent
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public required RenderFragment ChildContent { get; set; }
    [Parameter, EditorRequired]
    public required BoundingBox BoundingBox { get; set; }
    [Parameter]
    public string ColorClass { get; set; } = "add-tiles";
    [Parameter]
    public bool Filled { get; set; } = true;
    [Parameter]
    public bool Outlined { get; set; } = false;
    [Parameter]
    public bool ShowText { get; set; } = true;

    private string PreviewStyle => $"--x: {BoundingBox.TopLeft.X}; --y: {BoundingBox.TopLeft.Y}; --width: {BoundingBox.Width}; --height: {BoundingBox.Height};";
    private string? DimensionInfo => ShowText ? BoundingBox.ToDimensionString() : null;
}
